.home-main {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;

  .weapon-btn {
    width: 10em;
    height: 3em;
    background: transparent;
    border: 4px solid #2f365f;
    border-radius: 8px;
  }

  .weapon-btn:hover {
    border: 4px solid #1f2546;
  }
}

@media screen and (max-width: 700px) {
  .home-main {
    flex-direction: column;
  }
}
