body {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221920%22%20height%3D%221080%22%20viewBox%3D%220%200%201920%201080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_27_505)%22%3E%0A%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22%23546592%22%2F%3E%0A%3Ccircle%20cx%3D%221388.5%22%20cy%3D%220.5%22%20r%3D%22145.5%22%20fill%3D%22%232F365F%22%2F%3E%0A%3Ccircle%20cx%3D%221389%22%20r%3D%22175.5%22%20stroke%3D%22%23F7F1ED%22%20stroke-width%3D%223%22%2F%3E%0A%3Ccircle%20cx%3D%221920%22%20cy%3D%22479%22%20r%3D%22198%22%20stroke%3D%22%232F365F%22%20stroke-width%3D%224%22%2F%3E%0A%3Ccircle%20cx%3D%228%22%20cy%3D%22246%22%20r%3D%22198%22%20stroke%3D%22%232F365F%22%20stroke-width%3D%224%22%2F%3E%0A%3Cpath%20d%3D%22M153%20246.5C153%20326.857%2087.8574%20392%207.5%20392C-72.8574%20392%20-138%20326.857%20-138%20246.5C-138%20166.143%20-72.8574%20101%207.5%20101C87.8574%20101%20153%20166.143%20153%20246.5Z%22%20fill%3D%22%232F365F%22%2F%3E%0A%3Ccircle%20cx%3D%2231%22%20cy%3D%22856%22%20r%3D%22175.5%22%20stroke%3D%22%23F7F1ED%22%20stroke-width%3D%223%22%2F%3E%0A%3Ccircle%20cx%3D%221389%22%20cy%3D%221080%22%20r%3D%22175.5%22%20stroke%3D%22%23F7F1ED%22%20stroke-width%3D%223%22%2F%3E%0A%3Ccircle%20cx%3D%221388.5%22%20cy%3D%221079.5%22%20r%3D%22145.5%22%20fill%3D%22%232F365F%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_27_505%22%3E%0A%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: inherit;
  background-size: initial;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: center;
}

.main-home {
  margin-left: 6em;
  margin-top: 8em;
}

.content-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-item {
  float: left;
  padding: 20px 20px 0 20px;
  border: 2px solid #111;
  border-radius: 8px;
  margin: 30px;
  width: 14em;
  height: 18.7em;
  background-color: #febfb0;
}

.list-item-weapon {
  float: left;
  padding: 20px 20px 0 20px;
  border: 2px solid #111;
  border-radius: 8px;
  margin: 30px;
  width: 14em;
  height: 7.5em;
  background-color: #febfb0;
  display: flex;
}

.list-item-weapon:hover,
.list-item:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.list-item-weapon > p {
  /* background: gray; */
  font-weight: bold;
  margin: 1em;
}

.list-item > p {
  /* background-color: black;
  color: white; */
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}

.char-img {
  height: 14.08em;
  width: 13em;
}

.weapon-img {
  height: 120px;
  width: 110px;
}

.home-p {
  width: 8em;
  height: 4.4em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.045em;
  color: #f7f1ed;
}

button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.045em;
  color: #f7f1ed;
}

.select-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}

.char-btn {
  margin-right: 2em;
  margin-bottom: 2em;
  width: 10em;
  height: 3em;
  background: #2f365f;
  border-radius: 8px;
  border: none;
}

.char-btn:hover {
  background: #1f2546;
}

.weapon-btn {
  width: 10em;
  height: 3em;
  background: transparent;
  border: 4px solid #2f365f;
  border-radius: 8px;
}

.weapon-btn:hover {
  border: 4px solid #1f2546;
}

.select-btn > button {
  align-items: center;
  margin: 0.5em;
  background-color: #febfb0;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  display: flex;
  font-size: 16px;
  width: 6em;
  height: 3em;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  font-weight: bold;
}

.select-btn > button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.select-btn > button:hover:after {
  transform: translate(0, 0);
}

.select-btn > button:active {
  background-color: #febfb0;
  outline: 0;
}

.select-btn > button:hover {
  outline: 0;
}
