button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.045em;
  color: #f7f1ed;
}

.main-home-error {
  margin-left: 6em;
  margin-top: 8em;

  .home-error-p {
    width: 8em;
    height: 4.4em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.045em;
    color: #f7f1ed;
  }

  .char-btn {
    margin-right: 2em;
    margin-bottom: 2em;
    width: 10em;
    height: 3em;
    background: #2f365f;
    border-radius: 8px;
    border: none;
  }

  .char-btn:hover {
    background: #1f2546;
  }
}

.home-img {
  width: 38.625em;
  height: 51.875em;
  filter: drop-shadow(15px 3px 10px rgba(0, 0, 0, 0.25));
  // padding-right: 2em;
}

.select-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;

  button {
    align-items: center;
    margin: 0.5em;
    background-color: #febfb0;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    display: flex;
    font-size: 16px;
    width: 6em;
    height: 3em;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    font-weight: bold;
  }

  button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
  }

  button:hover:after {
    transform: translate(0, 0);
  }

  button:active {
    background-color: #febfb0;
    outline: 0;
  }

  button:hover {
    outline: 0;
  }
}

.content-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.back-icon {
  position: fixed;
  margin-left: 0.2em;
  top: 0.2em;
}

.back-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .main-home-error {
    margin-top: 4em;
    margin-left: 0;
    margin-bottom: 3em;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    .home-error-p {
      margin-top: 0;
      letter-spacing: 0;
      margin-bottom: -2em;
      margin-left: 1em;
    }

    .char-btn {
      margin-right: 0;
      margin-top: 9em;
      margin-left: 0;
    }
  }

  .home-img {
    order: 1;
    width: 27em;
    height: 34em;
    margin-top: 3em;
  }

  .back-icon {
    width: 0.7em;
    height: 0.7em;
    position: sticky;
    margin-left: 0;
  }
}

@media screen and (max-width: 1241px) {
  .home-img {
    width: 22.625em;
    height: 30.875em;
  }
}

@media screen and (max-width: 986px) {
  .home-error-p {
    font-size: 50px !important;
    margin-bottom: 3em;
  }
}
